
<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="card1">
        <div class="face face1" style="background-image: url(./assets/textures/stars.png);">
          <div class="content text-center" >
            <h3>{{ 'education.superior' | translate }}</h3>
          </div>
        </div>
        <div class="face face2">
          <h5 class="text-center">{{ 'education.superior.school' | translate }}</h5>
          <p class="text-center">{{ 'education.superior.date' | translate }}</p>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-4 col-md-6">
      <div class="card1">
        <div class="face face1" style="background-image: url(./assets/textures/stars.png);">
          <div class="content text-center">
            <h3>{{ 'education.basica' | translate }}</h3>
          </div>
        </div>
        <div class="face face2">
          <h5>{{ 'education.basica.school' | translate }}</h5>
          <p>{{ 'education.basica.date' | translate }}</p>
          <br>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-4 col-md-6">
      <div class="card1">
        <div class="face face1" style="background-image: url(./assets/textures/stars.png);">
          <div class="content text-center">
            <h3>{{ 'education.media' | translate }}</h3>
          </div>
        </div>
        <div class="face face2">
          <h5>{{ 'education.media.school' | translate }}</h5>
          <p>{{ 'education.media.date' | translate }}</p>
          <br>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-4 col-md-6">
      <div class="card1">
        <div class="face face1" style="background-image: url(./assets/textures/stars.png);">
          <div class="content text-center">
            <h3>{{ 'education.mediaSuperior' | translate }}</h3>
          </div>
        </div>
        <div class="face face2">
          <h5>{{ 'education.mediaSuperior.school' | translate }}</h5>
          <p>{{ 'education.mediaSuperior.date' | translate }}</p>
          <br>
        </div>
      </div>
    </div>
  </div>

<br>
