<div class="row mb-5" *ngIf = "loading" >
  <div class="center text-center col-12" style="color: white;">
    <i style="color: var(--background-cards);" class="p-2 mt-5 mb-5 fa fa-spinner animated faa-spin fa-4x"></i>
  </div>
</div>
<div class="row" *ngIf = "!loading">
  <div class="col-12 col-md-12 col-xl-4">
    <div class="center mb-4">
      <h3>{{ 'skill.design' | translate }}</h3>
      <div class="skillBox" *ngFor="let item of dataDesign">
        <p>{{item.tittle}}</p>
        <p>{{item.percent}}</p>
        <div class="skill">
          <div class="skill_level" style="width: {{item.percent}};">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12 col-xl-4">
    <div class="center mb-4">
      <h3>{{ 'skill.languages' | translate }}</h3>
      <div class="skillBox" *ngFor="let item of dataLanguage">
        <p>{{item.tittle}}</p>
        <p>{{item.percent}}</p>
        <div class="skill">
          <div class="skill_level" style="width: {{item.percent}};">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12 col-xl-4">
    <div class="center mb-4">
      <h3>{{ 'skill.frameworks' | translate }}</h3>
      <div class="skillBox" *ngFor="let item of dataFramework">
        <p>{{item.tittle}}</p>
        <p>{{item.percent}}</p>
        <div class="skill">
          <div class="skill_level" style="width: {{item.percent}};">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="center mb-4 text-center">
      <h3>{{ 'skill.idiom' | translate }}</h3>
      <hr>
      <p>{{ 'skill.idiom.english' | translate }}</p>
      <p>{{ 'skill.idiom.spanish' | translate }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="center mb-4 text-center">
      <h3>{{ 'skill.oder' | translate }}</h3>
      <hr>
      <h5 style="color: white;">{{ 'skill.teamwork' | translate }}</h5>
      <p>
        <ng-container *ngFor="let item of dataOther">
          {{item.tittle}},
        </ng-container>
      </p>
    </div>
  </div>
</div>
