<div class="row">
  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="box">
      <div class="imgBx">
        <div>
          <ngx-progressive-img-loader
            [height]="'200px'"
            [width]="'100%'"
            [img]="'./assets/disaic.jpg'"
            [thumbnail]="'./assets/logooficial.png'"
          >
          </ngx-progressive-img-loader>
        </div>
      </div>
      <div class="content">
        <h2>
          <a href="http://www.disaic.cu">DISAIC</a>
          <br />
          <span>
            {{ "project.disaic" | translate }}
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="box">
      <div class="imgBx">
        <div>
          <ngx-progressive-img-loader
            [height]="'200px'"
            [width]="'100%'"
            [img]="'./assets/submarino.jpg'"
            [thumbnail]="'./assets/logooficial.png'"
          >
          </ngx-progressive-img-loader>
        </div>
      </div>
      <div class="content">
        <h2>
          Submarino Amarillo
          <br />
          <span>
            {{ "project.sAmarillo" | translate }}
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="box">
      <div class="imgBx">
        <div>
          <ngx-progressive-img-loader
            [height]="'200px'"
            [width]="'100%'"
            [img]="'./assets/livemax.png'"
            [thumbnail]="'./assets/logooficial.png'"
          >
          </ngx-progressive-img-loader>
        </div>
      </div>
      <div class="content">
        <h2>
          Livemax
          <br />
          <span>
            {{ "project.livemax" | translate }}
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="box">
      <div class="imgBx">
        <div>
          <ngx-progressive-img-loader
            [height]="'200px'"
            [width]="'100%'"
            [img]="'./assets/smm.png'"
            [thumbnail]="'./assets/logooficial.png'"
          >
          </ngx-progressive-img-loader>
        </div>
      </div>
      <div class="content">
        <h2>
          Social Media Managment
          <br />
          <span>
            {{ "project.smm" | translate }}
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="box">
      <div class="imgBx">
        <div>
          <ngx-progressive-img-loader
            [height]="'200px'"
            [width]="'100%'"
            [img]="'./assets/e-services.png'"
            [thumbnail]="'./assets/logooficial.png'"
          >
          </ngx-progressive-img-loader>
        </div>
      </div>
      <div class="content">
        <h2>
          E-services
          <br />
          <span>
            {{ "project.eServices" | translate }}
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="box">
      <div class="imgBx">
        <div>
          <ngx-progressive-img-loader
            [height]="'200px'"
            [width]="'100%'"
            [img]="'./assets/energy.png'"
            [thumbnail]="'./assets/logooficial.png'"
          >
          </ngx-progressive-img-loader>
        </div>
      </div>
      <div class="content">
        <h2>
          Energy
          <br />
          <span>
            {{ "project.energy" | translate }}
          </span>
        </h2>
      </div>
    </div>
  </div>
</div>
