<div class="row">
  <div class="col-12 col-xl-4 col-md-6 mb-4">
      <div class="single-box">
        <h2>{{ 'aboutMe.who' | translate }}</h2>
        <p>{{ 'aboutMe.who.text' | translate }}</p>
      </div>
  </div>

  <div class="col-12 col-xl-4 col-md-6 mb-4">
    <div >
      <div class="single-box">
        <h2>{{ 'aboutMe.mision' | translate }}</h2>
        <p>{{ 'aboutMe.mision.text' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-4 col-md-6 mb-4">
    <div >
      <div class="single-box">
        <h2>{{ 'aboutMe.vision' | translate }}</h2>
        <p>
          {{ 'aboutMe.vision.text' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
<br>
