/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors */
  --foreground-default: #000000;
  --foreground-secondary: #41474d;
  --foreground-tertiary: #797c80;
  --foreground-quaternary: #f4faff;
  --foreground-light: #41474d;

  --background-default: #f4faff;
  --background-secondary: #a3b9cc;
  --background-tertiary: #5c7d99;
  --background-light: #ffffff;

  --background-navbar:  linear-gradient(135deg,#022c6b,#0576da,#0272d400);
  --background-cards:  linear-gradient(135deg,#0577da85,#0272d400);
  --color-custom:  white;
  --color-text:  rgb(204, 200, 200);
  --color-text-hover:  rgb(204, 200, 200);
  --color-text-active:  rgb(255, 255, 255);


  --primary-default: #5dfdcb;
  --primary-dark: #24b286;
  --primary-light: #b2ffe7;

  --error-default: #ef3e36;
  --error-dark: #800600;
  --error-light: #1c1e94;

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
